:root {
  --ar-gray-100: #f6f9fc;
  --ar-gray-200: #edf1f5;
  --ar-gray-300: #e3e9ef;
  --ar-gray-400: #d7dde2;
  --ar-gray-500: #b4bbc3;
  --ar-gray-600: #858c97;
  --ar-gray-700: #576071;
  --ar-gray-800: #434a57;
  --ar-gray-900: #121519;
  --ar-primary: #448c74;
  --ar-secondary: #edf1f5;
  --ar-success: #3fca90;
  --ar-info: #3f7fca;
  --ar-warning: #edcb50;
  --ar-danger: #ed5050;
  --ar-light: #fff;
  --ar-dark: #121519;
  --ar-primary-rgb: 68, 140, 116;
  --ar-secondary-rgb: 237, 241, 245;
  --ar-success-rgb: 63, 202, 144;
  --ar-info-rgb: 63, 127, 202;
  --ar-warning-rgb: 237, 203, 80;
  --ar-danger-rgb: 237, 80, 80;
  --ar-light-rgb: 255, 255, 255;
  --ar-dark-rgb: 18, 21, 25;
  --ar-primary-text-emphasis: #336a58;
  --ar-breadcrumb-item-active-color: #336a58;
  --ar-secondary-text-emphasis: #576071;
  --ar-success-text-emphasis: #2ea875;
  --ar-info-text-emphasis: #2e66a8;
  --ar-warning-text-emphasis: #e8bd22;
  --ar-danger-text-emphasis: #e82222;
  --ar-light-text-emphasis: #576071;
  --ar-dark-text-emphasis: #121519;
  --ar-primary-bg-subtle: #ecf4f1;
  --ar-secondary-bg-subtle: #f6f9fc;
  --ar-success-bg-subtle: #ecfaf4;
  --ar-info-bg-subtle: #ecf2fa;
  --ar-warning-bg-subtle: #fdfaee;
  --ar-danger-bg-subtle: #fdeeee;
  --ar-light-bg-subtle: #fff;
  --ar-dark-bg-subtle: #ececed;
  --ar-primary-border-subtle: #dae8e3;
  --ar-secondary-border-subtle: #edf1f5;
  --ar-success-border-subtle: #d9f4e9;
  --ar-info-border-subtle: #d9e5f4;
  --ar-warning-border-subtle: #fbf5dc;
  --ar-danger-border-subtle: #fbdcdc;
  --ar-light-border-subtle: #f6f9fc;
  --ar-dark-border-subtle: #edf1f5;
  --ar-white-rgb: 255, 255, 255;
  --ar-black-rgb: 0, 0, 0;
  --ar-font-sans-serif: "Inter", sans-serif;
  --ar-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ar-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --ar-root-font-size: 1rem;
  --ar-body-font-family: var(--ar-font-sans-serif);
  --ar-body-font-size: 1rem;
  --ar-body-font-weight: 400;
  --ar-body-line-height: 1.5;
  --ar-body-color: #576071;
  --ar-body-color-rgb: 87, 96, 113;
  --ar-body-bg: #fff;
  --ar-body-bg-rgb: 255, 255, 255;
  --ar-emphasis-color: #000;
  --ar-emphasis-color-rgb: 0, 0, 0;
  --ar-secondary-color: #858c97;
  --ar-secondary-color-rgb: 133, 140, 151;
  --ar-secondary-bg: #edf1f5;
  --ar-secondary-bg-rgb: 237, 241, 245;
  --ar-tertiary-color: rgba(87, 96, 113, 0.5);
  --ar-tertiary-color-rgb: 87, 96, 113;
  --ar-tertiary-bg: #f6f9fc;
  --ar-tertiary-bg-rgb: 246, 249, 252;
  --ar-heading-color: var(--ar-gray-900);
  --ar-link-color: #448c74;
  --ar-link-color-rgb: 68, 140, 116;
  --ar-link-decoration: underline;
  --ar-link-hover-color: #37715d;
  --ar-link-hover-color-rgb: 55, 113, 93;
  --ar-link-hover-decoration: none;
  --ar-code-color: #e3116c;
  --ar-highlight-color: #576071;
  --ar-highlight-bg: #fff3cd;
  --ar-border-width: 1px;
  --ar-border-style: solid;
  --ar-border-color: #e3e9ef;
  --ar-border-color-translucent: rgba(0, 0, 0, 0.1);
  --ar-border-radius: 1rem;
  --ar-border-radius-sm: calc(var(--ar-border-radius) * 0.75);
  --ar-border-radius-lg: calc(var(--ar-border-radius) * 1.125);
  --ar-border-radius-xl: calc(var(--ar-border-radius) * 1.5);
  --ar-border-radius-xxl: calc(var(--ar-border-radius) * 2.25);
  --ar-border-radius-2xl: var(--ar-border-radius-xxl);
  --ar-border-radius-pill: 50rem;
  --ar-box-shadow: 0 0.4375rem 1.25rem rgba(208, 208, 196, 0.32);
  --ar-box-shadow-sm: 0 0.375rem 0.75rem -0.125rem rgba(208, 208, 196, 0.24);
  --ar-box-shadow-lg: 0 0.5rem 1.75rem -0.125rem rgba(208, 208, 196, 0.48);
  --ar-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --ar-focus-ring-width: 0.25rem;
  --ar-focus-ring-opacity: 0.25;
  --ar-focus-ring-color: rgba(68, 140, 116, 0.25);
  --ar-form-valid-color: #3fca90;
  --ar-form-valid-border-color: #3fca90;
  --ar-form-invalid-color: #ed5050;
  --ar-form-invalid-border-color: #ed5050;
  --ar-user-selection-color: rgba(var(--ar-primary-rgb), 0.22);
  --ar-heading-color: var(--ar-gray-900);
  --ar-heading-font-weight: 600;
  --ar-heading-link-color: var(--ar-gray-800);
  --ar-heading-link-hover-color: var(--ar-primary);
  --ar-blockquote-color: var(--ar-gray-900);
  --ar-blockquote-font-size: 1.5rem;
  --ar-blockquote-footer-color: var(--ar-gray-900);
  --ar-blockquote-footer-font-size: 1rem;
  --ar-blockquote-mark-size: 3rem;
  --ar-blockquote-mark-color: var(--ar-primary);
  --ar-nav-link-color: var(--ar-gray-800);
  --ar-link-color-rgb: var(--ar-primary-rgb);
  --ar-link-hover-color-rgb: var(--ar-primary-rgb);
}